<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="header.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
   
    <title>E-Book Store</title>    

</head>
    <body>
        <footer id="myFooter" >
       
               <div class="social-networks">
               <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-instagram"></a>
</div>
<button onclick="document.location='Contactus'" type="button" class="btn btn-default" style="color: white;background-color: #d84b6b;border-radius: 20px;border: none;width: 150px;display: block;margin: 0 auto;margin-top: 10px;line-height: 25px;margin-bottom:30px;outline:0">Contact us</button>

                
                     <div style=" background-color: #333333;padding-top: 3px;padding-bottom: 3px;text-align: center;" class="footer-copyright">
            <p style="margin: 10px;color: #ccc;">© 2021 Copyright E-BookStore </p></div>
        
                     
        </footer>
    
         
       
    </body>
</html>