<html>
    <head>
        <link rel="icon" type="image/png" href="fav.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="author.css" rel="stylesheet" type="text/css"/>
        <link href="home.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include ('header') %>
            <div id="quote_section">
          <h1>Facts And Quotes</h1>
          <div id="quote_content_div">
            <label>"</label> 
                <div id="quote_content">
                      Book is equal to Hundred Good Friends, One Good Friend is equal to a Library.
                </div>
            <label>"</label>
          </div>
          <div id="quote_by_div">
                <div id="quote_by">
                     Dr. A.P.J. Abdul Kalam
                </div>
          </div>          
      </div>
            
                
            <div class="head">
            <div class="column">
                <div class="emptyspacebottom"></div>
                <div class="emptyspace">
           <h1 class="popular">Popular Authors & Series</h1>
            <div class="paragraph"><p>We are online store selling books, our store stocks over 500 thousand great books and digital items. We are</br>
a perfect place for those looking for the best books, audio books, textbooks and videos.</p></div>
            </div>
           
            <!-- <div class="imagesdiv"> -->
                
                <!-- <div id="dic1"><img class="wp-post-image" width="102" height="78" alt="Client 4" src="http://loremipsum.themerex.net/wp-content/uploads/2016/07/client-4-2.png"/></div>
                <div><img class="wp-post-image" width="162" height="78" alt="Client 5" src="http://loremipsum.themerex.net/wp-content/uploads/2016/07/client-5-1.png"></div>
                <div><img class="wp-post-image" width="120" height="78" alt="Client 1" src="http://loremipsum.themerex.net/wp-content/uploads/2016/07/client-1-1.png"/></div>
                
                <div><img class="wp-post-image" width="102" height="79" alt="Client 3" src="http://loremipsum.themerex.net/wp-content/uploads/2016/07/client-3-1.png"></div>
                <div><img class="wp-post-image" width="82" height="78" alt="Client 2" src="http://loremipsum.themerex.net/wp-content/uploads/2016/07/client-2.png"></div> -->
            <!-- </div> -->
            <div class="slider" style="width:75%;margin:auto;height:100px;cursor:grab;position:absolute;z-index:0;left:12%;">
  <div class="swiper-wrapper" style="">
      <div class="swiper-slide" id="s1" style="width:75%;margin:auto;height:100px;cursor:grab;">
      <div class="slider__item" ><img class="wp-post-image" width="120" height="78" alt="Client 1" src="http://loremipsum.themerex.net/wp-content/uploads/2016/07/client-1-1.png"/></div>
    </div>
    <div class="swiper-slide" id="s2">
      <div class="slider__item"><img class="wp-post-image" width="82" height="78" alt="Client 2" src="http://loremipsum.themerex.net/wp-content/uploads/2016/07/client-2.png"></div>
    </div>
     <div class="swiper-slide" id="s3">
      <div class="slider__item"><img class="wp-post-image" width="102" height="79" alt="Client 3" src="http://loremipsum.themerex.net/wp-content/uploads/2016/07/client-3-1.png"></div>
    </div>
    <div class="swiper-slide" id="s4">
      <div class="slider__item" id="s"><img class="wp-post-image" width="102" height="78" alt="Client 4" src="http://loremipsum.themerex.net/wp-content/uploads/2016/07/client-4-2.png"/></div>
    </div>
    <div class="swiper-slide" id="s5">
      <div class="slider__item" ><img class="wp-post-image" width="135" height="80" alt="Client 5" src="http://loremipsum.themerex.net/wp-content/uploads/2016/07/client-5-1.png"></div>
    </div>
    
    
   
    
   
  <!-- </div> -->
</div></div>
            <div class="buttondiv">
                <a href="/shop" class="buttonlink" >SEE MORE AUTHORS</a>
            </div>
            <div class="emptyspacebottom"></div>
            </div></div>
            <!--<div id="flex_box_parent">
                <div id="flex_box">
                        <div id="visits_count_box">
                            <h1 id="visits_count_box_h1">0</h1>
                            <h2>Visitors</h2>
                        </div>
                        <div id="books_count_box">
                            <h1 id="books_count_box_h1">0</h1>
                            <h2>Books</h2>
                        </div>
                        <div id="users_count_box">
                            <h1 id="users_count_box_h1">0</h1>
                            <h2>Users</h2>
                        </div>
                        <div id="sellers_count_box">
                            <h1 id="sellers_count_box_h1">0</h1>
                            <h2>Sellers</h2>
                        </div>                
                </div>
            </div> -->
            <div class="section">
                             <div class="emptyspacebottom2"></div>
                             <div>
                                 <h1>Book Seller Process</h1>
                             </div>
                             
                             <div class="section2" style="margin-top:2em;"> 
                                 <div class="div1">
                                     <h1>STEP 1</h1>
                                     <h3>Contact with admin to register </br>you</h3>
                                     <p>Submit your registration data to admin like-</br>
                                     Shop Name ,Shop Adress,Book Seller Name,</br>            
                                     Book Seller Email</p>
                                 </div>
                                  <div class="section2div2">
                                     <h1>STEP 2</h1>
                                      <h3>After registration get Id </br>and password from admin</h3>
                                     <p>Then Login as Book Seller.</br>
                                     Edit profile if want to change</br>
                                     Upload yours book, edit your books.</br>
                                     </p>
                                 </div>
                                  <div class="div2">
                                     <h1>STEP 3</h1>
                                      <h3>If user Buy your book.</br>Order goes to your order section</h3>
                                     <p>Then you can edit its status.</br>
                                     And ship order to the User/Customer</br></p>
                                 </div>
                             </div>
                             <div class="emptyspacebottom"></div>
                            </div>
            <div class="outside">
               <div class="mainpart">
                                <div class="emptyspacebottom1"></div>
                                <div class="inerpart" style="color:black">
                                    <h1 style="color:black;font-weight:bold;opacity:0.9;margin-top:2em;font-size:44px;">Our Services</h1>
                                    <div class="paragraph1">
                                        <p class="hd">We share thousands of books with others by reviewing them. Our goal is to get the books in the readers' hands all over the world. Enjoy the possible book buying experience with our reliable book store.</p>
                                    </div>
                                    <div class="imagesdiv1">
                                        <div><i class="fa fa-gift w3-jumbo fa_custom"></i>
                                        <h6>FREE GIFT WRAP</h6></div>
                                        <div><i class="fa fa-truck  w3-jumbo fa_custom" aria-hidden="true"></i>
                                        <h6 >SHIPPING</h6>
                                        </div>
                                        <div><i class="fa fa-cart-arrow-down w3-jumbo fa_custom" aria-hidden="true"></i>
                                        <h6 >ONLINE ORDERING</h6>
                                        </div>
                                        <div><i class="fa fa-book w3-jumbo fa_custom" aria-hidden="true"></i>
                                        <h6 >USED BOOK BUYING</h6>
                                        </div>
                                        <div><i class="fa fa-refresh  w3-jumbo  w3-spin fa_custom" ></i>
                                        <h6 >RETURN & EXCHANGE</h6></div>
                                       
                                    </div>
                                </div>
                             <div class="emptyspacebottom"></div>
                            </div>
                        </div>
           
        <%- include ('footer') %>
        <script>
        new Swiper('.slider', {
    speed: 600,
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false
    },
    slidesPerView: 'auto',
    slidesPerView: '5',
    pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true
    },
	 breakpoints: {
      459: {
        slidesPerView: 1,
        spaceBetween: 20
      },

      991: {
        slidesPerView: 3,
        spaceBetween: 20
      }
    }
	
  });
        </script>
       <script src="counters.js" ></script>
       <script src="home.js" ></script>
    </body>
</html>