.cartdiv{
    width:100%;
    padding: 50px 150px 50px 50px;
     
    
}

/* #orderbtn{
    outline: 0;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 120px;
    background: gold;
    font-weight: bold;
    color: white;
}

#orderbtn a{color: midnightblue;} */
/* #myBtn{display: none;} */
/* #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
} */
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#myBtn i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#myBtn:hover {
    background: rgba(0, 0, 0, 0.9);
}
#myBtn:hover i {
    color: #fff;
    top: 5px;
}
.alert1 {
    display: none;
  padding: 25px;
  /* background-color: #df3023dc; */
  color: white;
  /* position: absolute; */
  position: fixed;
  top:0;
  z-index: 1500;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background: red;
  

}
.red{
    background: red;
}
.green
{
    background: green;
}
.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.9;
    z-index: 11;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  position: relative;
  top:40%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.noitem{
    /* margin: auto; */
    font-weight: bold;
    display: none;
    height: 130px;
}

#itemsInCart{
border-top: 2px solid rgb(157, 153, 153);
width: 800px;
margin-top: 4rem;
/* margin: auto; */
}
.quantityupdate{
    margin-left: 1px;
    width: 70px;
    height: 30px;
}

.left_container
{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
    width:100%;
    /* padding: 20px 20px 20px 20px; */
    border-bottom: 2px solid rgb(157, 153, 153);
   
    /* margin-bottom: 20px; */
}

.left_container .datadiv h3{margin: 0rem 1rem 1.2rem 0rem;}

.left_container .datadiv h1 .fa{font-size: 20px;top:0}

#cartbutton
{
    width: 100%;
    height:40px;
    color:white;
    font-weight: bold;
    background: rgb(11, 11, 87);
}

#cart_container
{
    height:80px;

}

.imgdiv{
    width: 20%;
    padding: 20px;
    height: 230px;
    margin-left: 30px;
}

.imgdiv img{
    width: 100%;
    height: 100%;
}

.datadiv{
    padding: 20px;
    margin-left: -1rem;
}

.datadiv h3 i{margin-right: 10px;}

 ul li{list-style: none;}
.bookname{
    color: #007185;
    font-size: 20px;
    font-weight: bold;
}
.authorname{
    font-size: 17px;
    font-weight: bolder;
}

.publisher{
    font-size: 17px;
}

.price{
    font-size: 17px;
}

.avilable{
    font-size: 16px;
}

.stock{
    font-size: 17px;
    color: green;
}

.buynow{
    margin-left: 0px;
    border: none;
    outline: 0;
    font-weight: bold;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: yellow;
    color: black;
}

.buynow:hover{margin-left: 0px;
    border: none;
    outline: 0;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: rgb(221, 221, 7);
    color: black;
}

.addtocart{margin-left: 20px;
    border: none;
    outline: 0;
      font-weight: bold;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: darkgreen;
    color: white;
}

.addtocart:hover{margin-left: 20px;
    border: none;
    outline: 0;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: rgb(10, 156, 10);
    color: white;
}

.left_container .datadiv ul li .price i{font-size: 13px}

.buttondiv1{margin-left: 0px;margin-top: 2rem;}

.buttondiv1 i{padding: 0px 5px 0px 0px;font-size: 18px;}

 @media screen and (max-width: 991px) {
.cartdiv{
    width:100%;
    padding: 50px 50px 50px 50px;
     
    
}

#itemsInCart{
border-top: 2px solid rgb(157, 153, 153);
width:100%;
margin: auto;
}

.left_container
{
    display: flex;
    column-gap: 20px;
    width:100%;
    /* padding: 20px 20px 20px 20px; */
    border-bottom: 2px solid rgb(157, 153, 153);
   
    /* margin-bottom: 20px; */
}

.left_container .datadiv h3{margin: 0rem 1rem 1.2rem 0rem;}

.left_container .datadiv h1 .fa{font-size: 20px;top:0}

#cartbutton
{
    width: 100%;
    height:40px;
    color:white;
    font-weight: bold;
    background: rgb(11, 11, 87);
}
#cart_container
{
    height:80px;

}

.quantityupdate{
    margin-left: 20px;
    width: 40px;
    height: 30px;
}

.imgdiv img{
    width: 100%;
    height: 100%;
}

.datadiv{
    padding: 20px;
    margin-left: -1rem;
}

.datadiv h3 i{margin-right: 10px;}

.imgdiv{
    width: 150px;
    padding: 20px;
    height: 230px;
    margin-left: 10px
}

 ul li{list-style: none;}

.bookname{
    color: #007185;
    font-size: 20px;
    font-weight: bold;
}

.authorname{
    font-size: 17px;
    font-weight: bolder;
}

.publisher{
    font-size: 17px;
}

.price{
    font-size: 17px;
}

.avilable{
    font-size: 16px;
}

.buynow{margin-left: 10px;
    border: none;
    outline: 0;
    font-weight: bold;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: yellow;
    color: black;
}

.buynow:hover{margin-left: 10px;
    border: none;
    outline: 0;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: rgb(221, 221, 7);
    color: black;
}

.addtocart{margin-left: 10px;
    border: none;
    outline: 0;
      font-weight: bold;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background: darkgreen;
    color: white;
}

.addtocart:hover{margin-left: 10px;
    border: none;
    outline: 0;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background: rgb(10, 156, 10);
    color: white;
}

.left_container .datadiv ul li .price i{font-size: 13px}

.buttondiv1{margin-left: -20px;margin-top: 2rem;}

.buttondiv1 i{padding: 0px 5px 0px 0px;font-size: 18px;}

} 
@media screen and (max-width: 480px) {
.cartdiv
{
    width:100%;
    padding: 50px 10px 0px 10px;
     
    
}

#itemsInCart{
border-top: 2px solid rgb(157, 153, 153);
width: 100%;
margin: auto;
  margin-bottom: 20px;
}

.left_container
{
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 20px;
    width:100%;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid rgb(157, 153, 153);
   
  
}

.left_container .datadiv h3{margin: 0rem 1rem 1.2rem 0rem;}

.left_container .datadiv h1 .fa{font-size: 20px;top:0}

#cartbutton
{
    width: 100%;
    height:40px;
    color:white;
    font-weight: bold;
    background: rgb(11, 11, 87);
}

#cart_container
{
    height:80px;
}

.imgdiv{
width: 130px;
padding: 10px 0px 0px 10px;
height: 190px;
margin-left: 0px
}

.imgdiv img{
    width: 110px;
    height: 100%;
}

.datadiv{
    padding: 10px;
    margin-left: -1.7rem;
}

.datadiv h3 i{margin-right: 10px;}

 ul li{list-style: none;}
.bookname{
    color: #007185;
    font-size: 16px;
    font-weight: bold;
}
.authorname{
    font-size: 13px;
    font-weight: bolder;
}

.publisher{
    font-size: 13px;
}

.price{
    font-size: 14px;
    font-weight: bold;
}

.avilable{
    font-size: 12px;
}

.stock{
    font-size: 12px;
    color: green;
}

.quantityupdate{
    margin-left: 1px;
    width: 40px;
    height: 30px;
}

.buynow{
    margin-left: 5px;
    border: none;
    outline: 0;
    font-weight: bold;
    width: 70px;
    height: 30px;
    border-radius: 5px;
   background: yellow;
    color: black;
}

.buynow:hover{
    margin-left: 5px;
    border: none;
    outline: 0;
    width: 70px;
    height: 30px;
    border-radius: 5px;
   background: rgb(221, 221, 7);
    color: black;
}

.addtocart{margin-left: 10px;
    border: none;
    outline: 0;
    font-weight: bold;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background: darkgreen;
    color: white;
}

.addtocart:hover{
    margin-left: 10px;
    border: none;
    outline: 0;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background: rgb(10, 156, 10);
    color: white;
}

.left_container .datadiv ul li .price i{font-size: 14px}

.buttondiv1{
margin-left: 0px;
margin-top: 1rem;
display: flex;
}

.cartheading h1{font-size: 26px;}

.buttondiv1 i{
    padding: 0px 5px 0px 0px;
    font-size: 14px;
}
#myBtn:hover i {
    color: #fff;
    top: 13px;
}

}